In [25]:
# I will import covid file here before cleaning it up.
import os
%load_ext autoreload
%autoreload 2
import pandas as pd
import pyspark
import json
import pyarrow
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import IntegerType, BooleanType
from Clean_DataFrame import Clean_Dataframe

os.environ['SPARK_HOME'] = 'C:/Users/saul2/Spark_DF/spark-3.5.5-bin-hadoop3'
os.environ['HADOOP_HOME'] = 'C:/Users/saul2/Spark_DF/spark-3.5.5-bin-hadoop3'
os.environ['JAVA_HOME'] = 'C:/Program Files/Java/jdk1.8.0_202'

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [131]:
clean_data = Clean_Dataframe()

Initiated

In [133]:
spark = SparkSession.builder.appName("Gaming_Session").getOrCreate()

In [329]:
# 1 Import CSV File
path = "C:/Users/saul2/OneDrive/Desktop/PastProjects/ETL_Project/VG_Sales/vgsales.csv"
df = spark.read.option("header", True).csv(path)

In [331]:
# Check Values and Rows for reference
df.printSchema()
df.show()

root
 |-- Rank: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Platform: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Genre: string (nullable = true)
 |-- Publisher: string (nullable = true)
 |-- NA_Sales: string (nullable = true)
 |-- EU_Sales: string (nullable = true)
 |-- JP_Sales: string (nullable = true)
 |-- Other_Sales: string (nullable = true)
 |-- Global_Sales: string (nullable = true)

+----+--------------------+--------+----+------------+---------+--------+--------+--------+-----------+------------+
|Rank|                Name|Platform|Year|       Genre|Publisher|NA_Sales|EU_Sales|JP_Sales|Other_Sales|Global_Sales|
+----+--------------------+--------+----+------------+---------+--------+--------+--------+-----------+------------+
|  -4|              sAmplE|     wIi| N/A|      SPORTS|         |   41.49|   29.02|        |       8.46|      82.7a4|
|  -3|              sAmplE|     wIi|2006|      SPORTS|         |   41.49|   29.02|        |       8.46|       82.74|
|  -3|              sAmplE|     wIi|2006|      SPORTS|         |   41.49|   29.a2|        |       8.46|        NULL|
|  -2|                NULL|    NULL|NULL|        NULL|     NULL|    NULL|    NULL|    NULL|       NULL|        NULL|
|  -1|          Wii Sports|     Wii|2da6|      Sports| Nintendo|   41s49|   29.02|    3.77|         ff|       82.74|
|   0|                    |     Wii|NULL|      Sports|     NULL|   41.49|    NULL|    3.77|       NULL|       82.74|
|   1|          Wii Sports|     Wii|2006|      Sports| Nintendo|   41.49|   29.02|    3.77|       8.46|       82.74|
|   2|   Super Mario Bros.|     NES|1985|    Platform| Nintendo|   29.08|    3.58|    6.81|       0.77|       40.24|
|   3|      Mario Kart Wii|     Wii|2008|      Racing| Nintendo|   15.85|   12.88|    3.79|       3.31|       35.82|
|   4|   Wii Sports Resort|     Wii|2009|      Sports| Nintendo|   15.75|   11.01|    3.28|       2.96|          33|
|   5|Pokemon Red/Pokem...|      GB|1996|Role-Playing| Nintendo|   11.27|    8.89|   10.22|          1|       31.37|
|   6|              Tetris|      GB|1989|      Puzzle| Nintendo|    23.2|    2.26|    4.22|       0.58|       30.26|
|   7|New Super Mario B...|      DS|2006|    Platform| Nintendo|   11.38|    9.23|     6.5|        2.9|       30.01|
|   8|            Wii Play|     Wii|2006|        Misc| Nintendo|   14.03|     9.2|    2.93|       2.85|       29.02|
|   9|New Super Mario B...|     Wii|2009|    Platform| Nintendo|   14.59|    7.06|     4.7|       2.26|       28.62|
|  10|           Duck Hunt|     NES|1984|     Shooter| Nintendo|   26.93|    0.63|    0.28|       0.47|       28.31|
|  11|          Nintendogs|      DS|2005|  Simulation| Nintendo|    9.07|      11|    1.93|       2.75|       24.76|
|  12|       Mario Kart DS|      DS|2005|      Racing| Nintendo|    9.81|    7.57|    4.13|       1.92|       23.42|
|  13|Pokemon Gold/Poke...|      GB|1999|Role-Playing| Nintendo|       9|    6.18|     7.2|       0.71|        23.1|
|  14|             Wii Fit|     Wii|2007|      Sports| Nintendo|    8.94|    8.03|     3.6|       2.15|       22.72|
+----+--------------------+--------+----+------------+---------+--------+--------+--------+-----------+------------+
only showing top 20 rows

In [333]:
# 1 Check for missing and blank values, or Null values 
clean_data.check_missing_blank_values(df)

+----+-------+--------+----+------+---------+--------+--------+--------+-----------+------------+
|Rank|   Name|Platform|Year| Genre|Publisher|NA_Sales|EU_Sales|JP_Sales|Other_Sales|Global_Sales|
+----+-------+--------+----+------+---------+--------+--------+--------+-----------+------------+
|  -4| sAmplE|     wIi| N/A|SPORTS|         |   41.49|   29.02|        |       8.46|      82.7a4|
|  -3| sAmplE|     wIi|2006|SPORTS|         |   41.49|   29.02|        |       8.46|       82.74|
|  -3| sAmplE|     wIi|2006|SPORTS|         |   41.49|   29.a2|        |       8.46|        NULL|
|  -2|   NULL|    NULL|NULL|  NULL|     NULL|    NULL|    NULL|    NULL|       NULL|        NULL|
|   0|       |     Wii|NULL|Sports|     NULL|   41.49|    NULL|    3.77|       NULL|       82.74|
+----+-------+--------+----+------+---------+--------+--------+--------+-----------+------------+

In [335]:
# 2 Check for inconsistent Capitalization
# I want to input the columns I'll be checking for capitlizations
# The assumption is if the values are not dealing with special cases like roman numerals, DS, TOHO(Publisher Name), etc
string_col_dict = ["Name", "Platform", "Genre", "Publisher"]
#clean_data.check_capitalization(df, string_col_dict)
#clean_data.check_individual_capitalization(df, "Name")
#clean_data.check_individual_capitalization(df, "Platform")
#clean_data.check_individual_capitalization(df, "Genre")
#clean_data.check_more_individual_capitalization(df, "Publisher", 100)

In [337]:
# 3 Check for duplicate rows
clean_data.check_duplicate_rows(df)

+----+----+--------+----+-----+---------+--------+--------+--------+-----------+------------+-----+
|Rank|Name|Platform|Year|Genre|Publisher|NA_Sales|EU_Sales|JP_Sales|Other_Sales|Global_Sales|count|
+----+----+--------+----+-----+---------+--------+--------+--------+-----------+------------+-----+
+----+----+--------+----+-----+---------+--------+--------+--------+-----------+------------+-----+

In [357]:
# 4 Check if inputted values are valid
# Will check if the values change when converted to their desire type
# Change columns to int
int_dic = ["Rank", "Year"]
double_dic = ["NA_Sales", "EU_Sales", "JP_Sales", "Other_Sales", "Global_Sales"]
clean_frame.checkTypeChange(df ,int_dic, "int")
print("------------------")
clean_frame.checkTypeChange(df, double_dic, "double")
#df = clean_frame.changeColType(df ,int_dic, "int")

# Change columns to double
# df = clean_frame.changeColType(df, double_dic, "double")

# Results
# Table has now appropriate column types
#df.printSchema()
# df.show()

+----+----+
|Rank|Rank|
+----+----+
+----+----+

+----+----+
|Rank|Year|
+----+----+
|-1  |2da6|
+----+----+

+----+--------+
|Rank|NA_Sales|
+----+--------+
|-1  |41s49   |
+----+--------+

+----+--------+
|Rank|EU_Sales|
+----+--------+
|-3  |29.a2   |
+----+--------+

+----+--------+
|Rank|JP_Sales|
+----+--------+
|-3  |        |
|-3  |        |
|-4  |        |
+----+--------+

+----+-----------+
|Rank|Other_Sales|
+----+-----------+
|-1  |ff         |
+----+-----------+

+----+------------+
|Rank|Global_Sales|
+----+------------+
|-3  |NULL        |
|-4  |82.7a4      |
+----+------------+

In [321]:
# 4 Continuations...
# 
#df.show()

In [261]:
# I've casted the values into their appropriate values
# Now I need to check if there are any nulls inside those values
# df.filter(col("NA_Sales").isNull()).count()
# df.filter(col("EU_Sales").isNull()).count()
# df.filter(col("JP_Sales").isNull()).count()
# df.filter(col("Other_Sales").isNull()).count()
# df.filter(col("Global_Sales").isNull()).count()
# Result
# There are some cases that some values will be converted to null
# It's good to check if there are any that turned out like that

1

In [231]:
# Begin Checking Rows 
df.show()

+----+--------------------+--------+----+------------+--------------------+--------+--------+--------+-----------+------------+
|Rank|                Name|Platform|Year|       Genre|           Publisher|NA_Sales|EU_Sales|JP_Sales|Other_Sales|Global_Sales|
+----+--------------------+--------+----+------------+--------------------+--------+--------+--------+-----------+------------+
|   1|          Wii Sports|     Wii|2006|      Sports|            Nintendo|   41.49|   29.02|    3.77|       8.46|       82.74|
|   2|   Super Mario Bros.|     NES|1985|    Platform|            Nintendo|   29.08|    3.58|    6.81|       0.77|       40.24|
|   3|      Mario Kart Wii|     Wii|2008|      Racing|            Nintendo|   15.85|   12.88|    3.79|       3.31|       35.82|
|   4|   Wii Sports Resort|     Wii|2009|      Sports|            Nintendo|   15.75|   11.01|    3.28|       2.96|        33.0|
|   5|Pokemon Red/Pokem...|      GB|1996|Role-Playing|            Nintendo|   11.27|    8.89|   10.22|        1.0|       31.37|
|   6|              Tetris|      GB|1989|      Puzzle|            Nintendo|    23.2|    2.26|    4.22|       0.58|       30.26|
|   7|New Super Mario B...|      DS|2006|    Platform|            Nintendo|   11.38|    9.23|     6.5|        2.9|       30.01|
|   8|            Wii Play|     Wii|2006|        Misc|            Nintendo|   14.03|     9.2|    2.93|       2.85|       29.02|
|   9|New Super Mario B...|     Wii|2009|    Platform|            Nintendo|   14.59|    7.06|     4.7|       2.26|       28.62|
|  10|           Duck Hunt|     NES|1984|     Shooter|            Nintendo|   26.93|    0.63|    0.28|       0.47|       28.31|
|  11|          Nintendogs|      DS|2005|  Simulation|            Nintendo|    9.07|    11.0|    1.93|       2.75|       24.76|
|  12|       Mario Kart DS|      DS|2005|      Racing|            Nintendo|    9.81|    7.57|    4.13|       1.92|       23.42|
|  13|Pokemon Gold/Poke...|      GB|1999|Role-Playing|            Nintendo|     9.0|    6.18|     7.2|       0.71|        23.1|
|  14|             Wii Fit|     Wii|2007|      Sports|            Nintendo|    8.94|    8.03|     3.6|       2.15|       22.72|
|  15|        Wii Fit Plus|     Wii|2009|      Sports|            Nintendo|    9.09|    8.59|    2.53|       1.79|        22.0|
|  16|  Kinect Adventures!|    X360|2010|        Misc|Microsoft Game St...|   14.97|    4.94|    0.24|       1.67|       21.82|
|  17|  Grand Theft Auto V|     PS3|2013|      Action|Take-Two Interactive|    7.01|    9.27|    0.97|       4.14|        21.4|
|  18|Grand Theft Auto:...|     PS2|2004|      Action|Take-Two Interactive|    9.43|     0.4|    0.41|      10.57|       20.81|
|  19|   Super Mario World|    SNES|1990|    Platform|            Nintendo|   12.78|    3.75|    3.54|       0.55|       20.61|
|  20|Brain Age: Train ...|      DS|2005|        Misc|            Nintendo|    4.75|    9.26|    4.16|       2.05|       20.22|
+----+--------------------+--------+----+------------+--------------------+--------+--------+--------+-----------+------------+
only showing top 20 rows

In [93]:
# Check for any repeated rows
duplicate_rows = df.groupBy(df.columns).count().filter("count > 1")
# duplicate_rows.show()
# Result
# There doesn't seem to be any duplicate rows

+----+----+--------+----+-----+---------+--------+--------+--------+-----------+------------+-----+
|Rank|Name|Platform|Year|Genre|Publisher|NA_Sales|EU_Sales|JP_Sales|Other_Sales|Global_Sales|count|
+----+----+--------+----+-----+---------+--------+--------+--------+-----------+------------+-----+
+----+----+--------+----+-----+---------+--------+--------+--------+-----------+------------+-----+

In [ ]:
# Check for some invalid values

In [263]:
df.createOrReplaceTempView("VG_Sales")

In [269]:
query = '''
        SELECT *
        FROM VG_SALES
    '''
result = spark.sql(query)
result.show()

+----+--------------------+--------+----+------------+--------------------+--------+--------+--------+-----------+------------+
|Rank|                Name|Platform|Year|       Genre|           Publisher|NA_Sales|EU_Sales|JP_Sales|Other_Sales|Global_Sales|
+----+--------------------+--------+----+------------+--------------------+--------+--------+--------+-----------+------------+
|   1|          Wii Sports|     Wii|2006|      Sports|            Nintendo|   41.49|   29.02|    3.77|       8.46|       82.74|
|   2|   Super Mario Bros.|     NES|1985|    Platform|            Nintendo|   29.08|    3.58|    6.81|       0.77|       40.24|
|   3|      Mario Kart Wii|     Wii|2008|      Racing|            Nintendo|   15.85|   12.88|    3.79|       3.31|       35.82|
|   4|   Wii Sports Resort|     Wii|2009|      Sports|            Nintendo|   15.75|   11.01|    3.28|       2.96|        33.0|
|   5|Pokemon Red/Pokem...|      GB|1996|Role-Playing|            Nintendo|   11.27|    8.89|   10.22|        1.0|       31.37|
|   6|              Tetris|      GB|1989|      Puzzle|            Nintendo|    23.2|    2.26|    4.22|       0.58|       30.26|
|   7|New Super Mario B...|      DS|2006|    Platform|            Nintendo|   11.38|    9.23|     6.5|        2.9|       30.01|
|   8|            Wii Play|     Wii|2006|        Misc|            Nintendo|   14.03|     9.2|    2.93|       2.85|       29.02|
|   9|New Super Mario B...|     Wii|2009|    Platform|            Nintendo|   14.59|    7.06|     4.7|       2.26|       28.62|
|  10|           Duck Hunt|     NES|1984|     Shooter|            Nintendo|   26.93|    0.63|    0.28|       0.47|       28.31|
|  11|          Nintendogs|      DS|2005|  Simulation|            Nintendo|    9.07|    11.0|    1.93|       2.75|       24.76|
|  12|       Mario Kart DS|      DS|2005|      Racing|            Nintendo|    9.81|    7.57|    4.13|       1.92|       23.42|
|  13|Pokemon Gold/Poke...|      GB|1999|Role-Playing|            Nintendo|     9.0|    6.18|     7.2|       0.71|        23.1|
|  14|             Wii Fit|     Wii|2007|      Sports|            Nintendo|    8.94|    8.03|     3.6|       2.15|       22.72|
|  15|        Wii Fit Plus|     Wii|2009|      Sports|            Nintendo|    9.09|    8.59|    2.53|       1.79|        22.0|
|  16|  Kinect Adventures!|    X360|2010|        Misc|Microsoft Game St...|   14.97|    4.94|    0.24|       1.67|       21.82|
|  17|  Grand Theft Auto V|     PS3|2013|      Action|Take-Two Interactive|    7.01|    9.27|    0.97|       4.14|        21.4|
|  18|Grand Theft Auto:...|     PS2|2004|      Action|Take-Two Interactive|    9.43|     0.4|    0.41|      10.57|       20.81|
|  19|   Super Mario World|    SNES|1990|    Platform|            Nintendo|   12.78|    3.75|    3.54|       0.55|       20.61|
|  20|Brain Age: Train ...|      DS|2005|        Misc|            Nintendo|    4.75|    9.26|    4.16|       2.05|       20.22|
+----+--------------------+--------+----+------------+--------------------+--------+--------+--------+-----------+------------+
only showing top 20 rows