In [10]:
%load_ext autoreload
%autoreload 2
import pyspark
import json
import pandas as pd
from Cleaning_Class import data_cleaning
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [56]:
spark = SparkSession.builder.appName("Practice_1").getOrCreate()
csv_file_path = "C:/Users/saul2/Spark_Test/messy_students.csv"
df = spark.read.option("header", True).csv(csv_file_path)
df.show()

+----------+----------+---------+------+----+----------------+--------------+-----------+---------------+-----+
|Student_ID|First_Name|Last_Name|Gender| Age|      Department|Attendance (%)|Study Hours|Internet Access|Grade|
+----------+----------+---------+------+----+----------------+--------------+-----------+---------------+-----+
|     S1001|      omar| Williams|  Male|22.0|    Mathematics |          97.3|       10.5|            yes|    C|
|     S1002|     Maria|    Brown|FEMALE|18.0|        Business|          NULL|       27.1|             No|    F|
|     S1003|       Li |     Chan|  Male|20.0|Computer Science|          85.0|       NULL|            Yes|    B|
|     S1004|     Aisha|    Smith|female|21.0|     engineering|          90.2|       12.0|            YES|    A|
|     S1005|      omar| Williams|  Male|22.0|     Mathematics|          97.3|       10.5|            yes|    C|
|     S1006|     James|   Garcia|  MALE|NULL|         Biology|          78.5|        8.5|             no|    D|
|     S1007|     Linda|         |Female|19.0|     Mathematics|          91.4|        9.0|            yes|    A|
+----------+----------+---------+------+----+----------------+--------------+-----------+---------------+-----+

In [58]:
# Cleang First_Names
clean_data = data_cleaning("Hello")

Class Created

In [60]:
df.show()

+----------+----------+---------+------+----+----------------+--------------+-----------+---------------+-----+
|Student_ID|First_Name|Last_Name|Gender| Age|      Department|Attendance (%)|Study Hours|Internet Access|Grade|
+----------+----------+---------+------+----+----------------+--------------+-----------+---------------+-----+
|     S1001|      omar| Williams|  Male|22.0|    Mathematics |          97.3|       10.5|            yes|    C|
|     S1002|     Maria|    Brown|FEMALE|18.0|        Business|          NULL|       27.1|             No|    F|
|     S1003|       Li |     Chan|  Male|20.0|Computer Science|          85.0|       NULL|            Yes|    B|
|     S1004|     Aisha|    Smith|female|21.0|     engineering|          90.2|       12.0|            YES|    A|
|     S1005|      omar| Williams|  Male|22.0|     Mathematics|          97.3|       10.5|            yes|    C|
|     S1006|     James|   Garcia|  MALE|NULL|         Biology|          78.5|        8.5|             no|    D|
|     S1007|     Linda|         |Female|19.0|     Mathematics|          91.4|        9.0|            yes|    A|
+----------+----------+---------+------+----+----------------+--------------+-----------+---------------+-----+

In [62]:
# Fix column names
dic_columns = {colNames: colNames.strip() for colNames in df.columns}
df = clean_data.fix_column_names(df, dic_columns)
#for old_cols, new_cols in dic_c|olumns.items():
#    df = df.withColumnRenamed(old_cols, new_cols)
df.show()

+----------+----------+---------+------+----+----------------+--------------+-----------+---------------+-----+
|Student_ID|First_Name|Last_Name|Gender| Age|      Department|Attendance (%)|Study Hours|Internet Access|Grade|
+----------+----------+---------+------+----+----------------+--------------+-----------+---------------+-----+
|     S1001|      omar| Williams|  Male|22.0|    Mathematics |          97.3|       10.5|            yes|    C|
|     S1002|     Maria|    Brown|FEMALE|18.0|        Business|          NULL|       27.1|             No|    F|
|     S1003|       Li |     Chan|  Male|20.0|Computer Science|          85.0|       NULL|            Yes|    B|
|     S1004|     Aisha|    Smith|female|21.0|     engineering|          90.2|       12.0|            YES|    A|
|     S1005|      omar| Williams|  Male|22.0|     Mathematics|          97.3|       10.5|            yes|    C|
|     S1006|     James|   Garcia|  MALE|NULL|         Biology|          78.5|        8.5|             no|    D|
|     S1007|     Linda|         |Female|19.0|     Mathematics|          91.4|        9.0|            yes|    A|
+----------+----------+---------+------+----+----------------+--------------+-----------+---------------+-----+

In [72]:
# Fixing Strings
# Caps, Empty Spaces, etc
df.show()
string_col = ["Student_ID", "First_Name", "Last_Name", "Department", "Gender", "Internet Access"]
df = clean_data.fix_strings(df, string_col)
df.show()
#for column in string_col:
#    df = df.withColumn(column, initcap(lower(trim(col(column)))))

+----------+----------+---------+------+----+----------------+--------------+-----------+---------------+-----+
|Student_ID|First_Name|Last_Name|Gender| Age|      Department|Attendance (%)|Study Hours|Internet Access|Grade|
+----------+----------+---------+------+----+----------------+--------------+-----------+---------------+-----+
|     S1001|      Omar| Williams|     M|22.0|    Mathematics |          97.3|       10.5|              Y|    C|
|     S1002|     Maria|    Brown|     F|18.0|        Business|          NULL|       27.1|              N|    F|
|     S1003|        Li|     Chan|     M|20.0|Computer Science|          85.0|       NULL|              Y|    B|
|     S1004|     Aisha|    Smith|     F|21.0|     engineering|          90.2|       12.0|              Y|    A|
|     S1005|      Omar| Williams|     M|22.0|     Mathematics|          97.3|       10.5|              Y|    C|
|     S1006|     James|   Garcia|     M|NULL|         Biology|          78.5|        8.5|              N|    D|
|     S1007|     Linda|         |     F|19.0|     Mathematics|          91.4|        9.0|              Y|    A|
+----------+----------+---------+------+----+----------------+--------------+-----------+---------------+-----+

+----------+----------+---------+------+----+----------------+--------------+-----------+---------------+-----+
|Student_ID|First_Name|Last_Name|Gender| Age|      Department|Attendance (%)|Study Hours|Internet Access|Grade|
+----------+----------+---------+------+----+----------------+--------------+-----------+---------------+-----+
|     S1001|      Omar| Williams|     M|22.0|     Mathematics|          97.3|       10.5|              Y|    C|
|     S1002|     Maria|    Brown|     F|18.0|        Business|          NULL|       27.1|              N|    F|
|     S1003|        Li|     Chan|     M|20.0|Computer Science|          85.0|       NULL|              Y|    B|
|     S1004|     Aisha|    Smith|     F|21.0|     Engineering|          90.2|       12.0|              Y|    A|
|     S1005|      Omar| Williams|     M|22.0|     Mathematics|          97.3|       10.5|              Y|    C|
|     S1006|     James|   Garcia|     M|NULL|         Biology|          78.5|        8.5|              N|    D|
|     S1007|     Linda|         |     F|19.0|     Mathematics|          91.4|        9.0|              Y|    A|
+----------+----------+---------+------+----+----------------+--------------+-----------+---------------+-----+

In [66]:
# Adding nulls to empty spaces
df = clean_data.add_nulls(df, string_col)

In [68]:
# Simplify Chars
charCols = ['Gender', 'Internet Access']
df = clean_data.simplify_chars(df, charCols)

In [317]:
# Clean Attendance
# Rename column
df.select("Attendance (%)")
df.withColumnRenamed("Attendance (%)", "Attendance")

DataFrame[Student_ID: string, First_Name: string, Last_Name: string, Gender: string, Age: string, Department: string, Attendance: string, Study Hours: string, Internet Access: string, Grade: string]

In [70]:
df.show()

+----------+----------+---------+------+----+----------------+--------------+-----------+---------------+-----+
|Student_ID|First_Name|Last_Name|Gender| Age|      Department|Attendance (%)|Study Hours|Internet Access|Grade|
+----------+----------+---------+------+----+----------------+--------------+-----------+---------------+-----+
|     S1001|      Omar| Williams|     M|22.0|    Mathematics |          97.3|       10.5|              Y|    C|
|     S1002|     Maria|    Brown|     F|18.0|        Business|          NULL|       27.1|              N|    F|
|     S1003|        Li|     Chan|     M|20.0|Computer Science|          85.0|       NULL|              Y|    B|
|     S1004|     Aisha|    Smith|     F|21.0|     engineering|          90.2|       12.0|              Y|    A|
|     S1005|      Omar| Williams|     M|22.0|     Mathematics|          97.3|       10.5|              Y|    C|
|     S1006|     James|   Garcia|     M|NULL|         Biology|          78.5|        8.5|              N|    D|
|     S1007|     Linda|         |     F|19.0|     Mathematics|          91.4|        9.0|              Y|    A|
+----------+----------+---------+------+----+----------------+--------------+-----------+---------------+-----+