#First Program
this is our first program

bad code

In [81]:
'''
Going to read high popularity spotify data

'''

'\nasdas\nasd\n'

In [1]:
import pyspark
import json
import pandas as pd
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Dug").getOrCreate()

In [2]:
# Read the CSV file
df = spark.read.text("C:/Users/saul2/OneDrive/Desktop/PastProjects/Pipeline_Project/high_popularity_spotify_data.csv")
df.createOrReplaceTempView("Popularity")

In [3]:
sqlQuery1 = spark.sql("SELECT * FROM Popularity")
sqlQuery1.show()

+--------------------+
|               value|
+--------------------+
|energy,tempo,danc...|
|0.592,157.969,0.5...|
|0.507,104.978,0.7...|
|0.808,108.548,0.5...|
|0.91,112.966,0.67...|
|0.783,149.027,0.7...|
|0.582,116.712,0.7...|
|0.561,150.069,0.6...|
|0.247,148.101,0.4...|
|0.416,94.926,0.49...|
|0.722,119.973,0.7...|
|0.667,130.019,0.7...|
|0.586,107.071,0.6...|
|0.806,104.032,0.6...|
|0.709,81.012,0.72...|
|0.757,139.982,0.7...|
|0.917,100.987,0.5...|
|0.787,109.939,0.7...|
|0.843,122.064,0.6...|
|0.406,115.94,0.53...|
+--------------------+
only showing top 20 rows

In [181]:
# Read the JSON file
df1 = spark.read.json("C:/Users/saul2/OneDrive/Desktop/Spark/archive/Students_Grading_Dataset.json", multiLine=True)
df1.createOrReplaceTempView("Grading")
df1.withColumn
sqlQuery = '''
    SELECT STUDENT_ID, FIRST_NAME, LAST_NAME, FINAL_SCORE,
        CASE WHEN FINAL_SCORE >= 90 THEN 'A'
            WHEN FINAL_SCORE >= 80 THEN 'B'
            WHEN FINAL_SCORE >= 70 THEN 'C'
            WHEN FINAL_SCORE >= 60 THEN 'D'
            ELSE 'F'
            END Letter_Grade
    FROM Grading 
    ORDER BY FINAL_SCORE
    '''
sqlQuery1 = spark.sql(sqlQuery)
sqlQuery1.show()
#df1.write.mode("overwrite").parquet("C:/Users/saul2/OneDrive/Desktop/Spark/output/students_transformed.parquet")

+----------+----------+---------+-----------+------------+
|STUDENT_ID|FIRST_NAME|LAST_NAME|FINAL_SCORE|Letter_Grade|
+----------+----------+---------+-----------+------------+
|     S3137|      Liam| Williams|      40.01|           F|
|     S3284|      Sara|  Johnson|      40.01|           F|
|     S4139|      Omar|    Smith|      40.01|           F|
|     S4226|     Ahmed|  Johnson|      40.01|           F|
|     S4516|      John|    Jones|      40.01|           F|
|     S1579|      Sara|    Davis|      40.07|           F|
|     S5044|      Omar|    Brown|      40.07|           F|
|     S2755|      Liam|    Smith|      40.09|           F|
|     S2120|      Sara|    Jones|      40.09|           F|
|     S1384|     Ahmed|    Jones|       40.1|           F|
|     S2124|      Emma|    Smith|      40.19|           F|
|     S2420|       Ali|    Jones|       40.2|           F|
|     S2699|      Liam|    Smith|       40.2|           F|
|     S5739|      Liam|    Smith|      40.21|           F|
|     S3737|      Sara|  Johnson|      40.26|           F|
|     S2392|      Liam| Williams|      40.27|           F|
|     S5667|      Sara|    Brown|      40.28|           F|
|     S3382|      Sara|    Brown|      40.32|           F|
|     S4750|      John|    Brown|      40.32|           F|
|     S2724|      Sara|    Jones|      40.33|           F|
+----------+----------+---------+-----------+------------+
only showing top 20 rows

In [6]:
data = {
    "Student_ID": ["S1001", "S1002", "S1003", "S1004", "S1005", "S1006", "S1007"],
    "First_Name": ["omar", "Maria", "Li ", "Aisha", "omar", "James", "Linda"],
    "Last_Name": ["Williams", "Brown", "Chan", "Smith", "Williams", "Garcia", " "],
    "Gender": ["Male", "FEMALE", "Male", "female", "Male", "MALE", "Female"],
    "Age": [22, 18, 20, 21, 22, None, 19],
    "Department": ["  Mathematics ", "Business", "Computer Science", "  engineering", "Mathematics", "Biology", "Mathematics"],
    "Attendance (%)": [97.3, None, 85.0, 90.2, 97.3, 78.5, 91.4],
    "Study Hours": [10.5, 27.1, None, 12.0, 10.5, 8.5, 9.0],
    "Internet Access": ["yes", "No", "Yes", " YES", "yes", "no", "yes"],
    "Grade": ["C", "F", "B", "A", "C", "D", "A"]
}
df_messy = pd.DataFrame(data)
df_messy.to_csv("messy_students.csv", index=False)
print("CSV created: messy_students.csv")

CSV created: messy_students.csv

In [8]:
print(df_messy)

  Student_ID First_Name Last_Name  Gender   Age        Department  \
0      S1001       omar  Williams    Male  22.0      Mathematics
1      S1002      Maria     Brown  FEMALE  18.0          Business
2      S1003        Li       Chan    Male  20.0  Computer Science
3      S1004      Aisha     Smith  female  21.0       engineering
4      S1005       omar  Williams    Male  22.0       Mathematics
5      S1006      James    Garcia    MALE   NaN           Biology
6      S1007      Linda            Female  19.0       Mathematics

   Attendance (%)  Study Hours Internet Access Grade
0            97.3         10.5             yes     C
1             NaN         27.1              No     F
2            85.0          NaN             Yes     B
3            90.2         12.0             YES     A
4            97.3         10.5             yes     C
5            78.5          8.5              no     D
6            91.4          9.0             yes     A